<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 
</head>
<body>
  <nav class="navbar bg-light navbar-light navbar-expand ">
    <a href="" class="navbar-brand">Deep-Notes</a>
    <ul class="navbar-nav ml-auto">
     <!-- Button trigger modal -->


     <a routerLink="login" class="btn btn-warning m-2">Login</a>
     <a routerLink="signup" class="btn btn-dark m-2">Signup</a>
     
    </ul>
 </nav>

  <div class="jumbotron text-center">
    <h1 class="text-center">welcome to deepnotes</h1>
    <i>rgpv notes and previous year qurestion papers over here</i>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos est unde dig
      nissimos ipsa omnis qui dicta eos porro temporibus
       corrupti nostrum fuga, mollitia doloremque magnam! Velit qui consequatur quia neque?</p>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-3 text-center"><a routerLink="first" class="btn btn-lg">First year</a></div>
      <div class="col-sm-3 text-center"><a routerLink="second" class="btn btn-lg">second year</a></div>
      <div class="col-sm-3 text-center"><a routerLink="third" class="btn btn-lg">Third year</a></div>
      <div class="col-sm-3 text-center"><a routerLink="last" class="btn btn-lg">Last year</a></div>
     
    </div>
  </div>


  














</body>
</html>