<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm text-center"> <h1 class="display-4">Second Year</h1> </div>
  </div>
  <hr>
  <div class="row justify-content-center bg-warning branch">
    <div class="col text-center"> <h1>Branch</h1> </div>
  </div>

  <div class="row justify-content-center branchmenu mt-5">
    <div class="col-sm-4 text-center"><button class="btn btn-secondary btn-lg">mechanical</button></div>
    <div class="col-sm-4 text-center"><button class="btn btn-secondary btn-lg">CS</button></div>
    <div class="col-sm-4 text-center"><button class="btn btn-secondary btn-lg">EX</button></div>
    <div class="col-sm-4 text-center"><button class="btn btn-secondary btn-lg">Civil</button></div>
    <div class="col-sm-4 text-center"><button class="btn btn-secondary btn-lg">IT</button></div>
    <div class="col-sm-4 text-center"><button class="btn btn-secondary btn-lg">EC</button></div>
  </div>
</div>